body {
  background: #000000;
}
#first {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}
h2 {
  color: #ffffff;
}

h3 {
  color: rgb(255, 255, 255);
}
a {
  color: #2241c0;
}
h3 {
  color: #ffffff;
}
.text {
  font-size: 20px;
  color: #ffffff;
}
